---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Angell Pimienta"
	pubDate={new Date('August 06 2023')}
	heroImage="/pimienta.png"
>
	<p>
		¡Hola! Mi nombre es Angell Pimienta y soy un apasionado desarrollador front-end. Desde muy joven, descubrí mi fascinación por la tecnología y cómo esta puede transformar la manera en que interactuamos con el mundo. A lo largo de mi carrera, he enfocado mi trayectoria en el desarrollo de interfaces y experiencias de usuario excepcionales y no pienso dejarlo ahi!.
	</p>

	<p>
		Además de mi pasión por la programación, también valoro la comunicación efectiva y el trabajo en equipo. Creo firmemente que la colaboración y el intercambio de ideas enriquecen cualquier proyecto y contribuyen a alcanzar resultados sobresalientes.
		Siempre listo para aprender, crecer y ser parte de proyectos que marquen la diferencia en la forma en que las personas interactúan en línea.
	</p>

	<p>
		Cuando no estoy inmerso en el mundo del desarrollo, me encanta dedicar mi tiempo libre a la música. También disfruto de actividades al aire libre, como salir a correr o practicar senderismo, ya que encuentro en ellas la oportunidad de recargar energías y mantener una mente fresca y creativa.
	</p>

</Layout>
